.header {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header-title {
  font-size: 40px;
}

.header-description {
  font-size: 20px;
}

.header-github {
  font-size: 16px;
  border-bottom: 1px solid #000;
  width: fit-content;
}
